<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--<bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">-->
        <!--&lt;!&ndash; 定义默认的异常处理页面，当该异常类型的注册时使用 &ndash;&gt;-->
        <!--<property name="defaultErrorView" value="error"></property>-->
        <!--&lt;!&ndash; 定义异常处理页面用来获取异常信息的变量名，默认名为exception &ndash;&gt;-->
        <!--<property name="exceptionAttribute" value="ex"></property>-->
        <!--&lt;!&ndash; 定义需要特殊处理的异常，用类名或完全路径名作为key，异常也页名作为值 &ndash;&gt;-->
        <!--<property name="exceptionMappings">-->
            <!--<props>-->
                <!--<prop key="cn.basttg.core.exception.BusinessException">error-business</prop>-->
                <!--<prop key="cn.basttg.core.exception.ParameterException">error-parameter</prop>-->

                <!--&lt;!&ndash; 这里还可以继续扩展对不同异常类型的处理 &ndash;&gt;-->
            <!--</props>-->
        <!--</property>-->
    <!--</bean>-->

    <bean id="jsonView" class="org.springframework.web.servlet.view.json.MappingJackson2JsonView"></bean>
    <bean id="exceptionHandler" class="com.chaoren.aop.exception.SystemExceptionHandler">
        <constructor-arg>
            <ref bean="jsonView"/> 
        </constructor-arg>
        <property name="order" value="1"/>
    </bean>
</beans>